<h1>Contact</h1>

<p><%= number_to_phone "0631234567"%></p>

<p><%= number_to_currency "150"%></p><!--izbegavamke hard codeovanja-->

<p><%= number_to_percentage "80.4"%></p>

<p><%= number_with_delimiter "2342352345"%></p>