<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>Pancevo, Serbia, Makedonska</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "+381631515813" %></p>

        <h3>Email</h3>

        <p><a href="mailto:jovan94pavlovic@gmail.com?subject=PortfolioContact" "email me">jovan94pavlovic@gmail.com</a> </p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.8850292881643!2d20.66468242131921!3d44.87023245038477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7edfdb24b6b1%3A0xff240110aa17676a!2sPancevo!5e0!3m2!1sen!2srs!4v1497815855319" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>