<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">I’m a multi-disciplined designer and developer. I specialise in web-design and front-end development. I love to create clean, unique and elegant websites</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>